@font-face {
    font-family: cairo;
    src: url(../fonts/Cairo-VariableFont_slnt\,wght.ttf);
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;  
  
}

body {
    font-family: cairo; 
    width: 100%;
    height: 100%;
    overflow-x:hidden;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

h1 {
    color: #000;
    font-size: 2.6rem;
    padding: 7.5px 0px;
}
h2 {
    color: #000;
    font-size: 2.1rem;
    padding: 7.5px 0px;
}
.start-template {
    background-image:url(../img/bg1.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 900px;

}
.start-content{
    position: absolute;
    right: 3%;
    bottom: 15%;
    text-align: end;
}
.input-name{
    width: 400px;
    height: 70px;
    border: none;
    box-shadow: 1px 1px 10px grey;
    webkit-box-shadow:1px 1px 10px grey;
    border-radius: 15px;
    text-align: end;
    padding: 15px;
    color: #000;
    font-size: 1.3rem;
    outline: none;
}
::placeholder {  
    padding: 10px; 
    color: #b3b3b3; 
    font-size: 2rem;
    text-align: center; 
    opacity: 0.8;  
    pointer-events:painted ;
}
.input-start{
    position: relative;
    margin-top: 45px;
}
.btn-name{
    position: absolute;
    right: 50%;
    top: -10px;
    border: none;
    background-color: #c66b28;
    width: 90px;
    font-size: 2rem;
    height: 90px;
    border-radius: 15px;
    webkit-box-shadow:1px 1px 10px #2b2b2b; 
    box-shadow: 1px 1px 10px #2b2b2b;
    color: #fff;
    transition: background-color 0.3s ease-in;
}
.btn-name:hover {
    color: #c66a27;
    background-color:#fff;
    border:3px solid #c66a27;
}
 

 

 



@media only screen and (max-width: 1289px) {
    h1 { 
        font-size: 2.1rem;
        padding: 5.5px 0px;
    }
    h2 { 
        font-size: 1.8rem;
        padding: 5.5px 0px;
    }
    .start-content { 
        bottom: 19%; 
    }
    .btn-name { 
        top: -9px;
    }
    .btn-name { 
        right: 60%;
    }
    .input-start { 
        margin-top: 30px;
    }
}
@media only screen and (max-width: 1160px) {
    h1 {
        font-size: 1.7rem;
        padding: 5.5px 0px;
    }
    h2 {
    font-size: 1.5rem;
    padding: 5.5px 0px;
}
}
@media only screen and (max-width: 992px) {
    .input-name { 
        height: 50px;
    }
    .btn-name {
        right: 70%;
    }
    .btn-name {
        position: absolute;
        right: 70%;
        top: -10px;
        border: none;
        background-color: #c66b28;
        width: 70px;
        font-size: 1.7rem;
        height: 70px;
    }
}
@media only screen and (max-width: 768px) {
 .start-template{
    background-image:url(../img/bg2.jpg);
    background-position: center bottom 40%;
 }

}
@media only screen and (max-width: 600px) {
    .start-template{
        background-image:url(../img/bg2.jpg);
        background-position: center bottom 50px;
     }
     .start-content {
        bottom: 23%;
        right: 0%;
        padding:0px 10px;
    }
    h1{
        font-size: 1.5rem;
        padding: 5.5px 0px;
        text-align: center;
    }
    h2 {
        font-size: 1.2rem;
        padding: 5.5px 0px;
        text-align: center;
    }
    .input-name {
        width: 300px;
        font-size: 1rem;
        text-align: center;
    }
    .btn-name {
        position: absolute;
        right: 86%;
        top: -10px;
        right: 74%;
    }
    ::placeholder {   
        font-size: 1.3rem; 
    }
}
@media only screen and (max-width: 400px) {
    .start-template{
        background-image:url(../img/bg2.jpg);
        background-position: center bottom 50px;
     }
     .start-content {
        bottom: 23%;
        right: 0%;
        padding:0px 10px;
    }
    h1 {
        text-align: center;
    }
    h2 {
        text-align: center;
    }
    ::placeholder {   
        font-size: 1rem; 
    }
    }